.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:   10px 120px;
    background: #E1ED23;
    }
    .Title{
      transition: 2s;
    }
    
    .Buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
     
    }
  
    .Option {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      border: none;
      margin: 12px 12px;
      border-radius: 4px;
      padding: 12px;
    }
    .Option:hover {
      background-color:#000 ;
      color: white;
  }
 
.img {
  width: 100px;
}
.Title:hover{
  background-color:#000 ;
  border-radius: 100px;
}
